html {
    font-family: 'Times New Roman', Times, serif;
}
body {
    color: #000;
    background-color: white;
    padding: 0;
    margin: 0;
}

.header {
    color: #000;
    background-color: yellow;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-bottom-color: brown;
}

.mid_header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid red;
}
a{
    text-decoration: none;
    color: #000;
}
.mid_header_left {
    color: #000;
    font-size: 1em;
}

.mid_header_left_h2 {
    text-align: center;
}

.mid_header_right {
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mid_header_right a{
    margin: 0 10px;
}