.login_box {
    margin-bottom: 20px;
  }
  .login_box input {
    padding: 15px 30px;
    width: 93%;
    border: 2px solid #cccccc;
    outline: none;
  }
  
  .login-form {
    width: 400%;
    max-width: 1000px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 30px;
    border: 4px double #cccccc;
    border-radius: 20px;
  }
  
  h1 {
    color: red;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .add {
    text-align: center;
    margin-top: 30px;
  }
  .add button {
    padding: 15px 100px;
    border-radius: 4px;
    color: #ffffff;
    background-color: black;
    border: none;
    outline: none;
  }
  